#Header {
    margin-top: 40px;
    align-self: center;
}   

#Header h1{
    color: white;
}

#Seats {
    display: flex;
    justify-content: center;
    padding: 20px;
    max-height: 80vh;
    overflow-y: auto;
  }
  
  .seat-grid {
    display: flex;
    flex-direction: row;
    gap: 40px; /* razmak između lijeve i desne strane */
  }
  
  .seat-side {
    display: flex;
    flex-direction: column;
    gap: 6px; /* razmak između redova */
  }
  
  .seat-row {
    display: flex;
    flex-direction: row;
    gap: 6px; /* razmak između sjedala u redu */
  }
  
  .seat {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .seat:hover {
    background-color: #aaa;
  }
  
  .seat-gap {
    width: 50px; /* širina prolaza između dva niza sjedala */
  }
  