:root {
    --primary-color: #2563eb;
    --secondary-color: #f8f9fa;
    --success-color: #28a745;
    --text-color: #6b7280;
    --background-color: #f9fafb;
    --border-color: #dee2e6;
    --danger-color: #dc2626;
}

body {
    margin-top: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f9fafb;
}

.airline-page .container {
    /* Ovo ponekad pokvari scroll */
    /* max-height: 80vw; */
    max-width: 100rem;
    margin: 0 auto;
    padding: 1.5rem;
}

.airline-management-container {
    max-width: 55rem;
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-height: 80vw;
    margin: 50px auto;
    padding: 1.5rem;
}

.airline-page .section-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.airline-page .add-button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.airline-page .add-button {
    background-color: var(--primary-color);
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid transparent;
    color: white;
    transition: background-color 0.2s ease;
}

.airline-page .cancel-button {
    background-color: var(--secondary-color);
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid transparent;
    color: #111827;
}

    .airline-page .add-button:hover, .airline-page .cancel-button:hover {
        background-color: var(--primary-hover);
    }

/* Form */
.airline-page .add-form-modal {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
}

.airline-page .form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.airline-page .form-field {
    display: flex;
    flex-direction: column;
}

.airline-page .form-label {
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.airline-page .form-input {
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.airline-page .submit-button-container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;
}

.airline-page .btn {
    margin-top: 1rem;
    padding: 0.4rem 1rem; /* malo manji padding */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.875rem;
    max-width: 10rem;
    max-height: 2.5rem; /* ni�a visina */
}

.airline-page .submit-button {
    margin-top: 1rem;
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.875rem;
    max-width: 10rem;
    max-height: 3rem;
}

    .airline-page .submit-button:hover {
        opacity: 0.9;
    }

/* Loading & Error */
.airline-page .loading-message, .airline-page .error-message {
    margin: 1rem 0;
    font-style: italic;
    color: var(--danger-color);
}

/* Table-style list */
.airlines-list {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    min-height: 100vw;
    overflow-y: auto;
}

    .airlines-list table {
        width: 100%;
        border-collapse: collapse;
        background-color: white;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        overflow: auto;
    }

    .airlines-list th {
        background-color: var(--gray-50);
        padding: 1rem 5rem;
        text-align: center;
        font-size: 12pt;
        font-weight: 500;
        color: var(--gray-500);
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    .airlines-list td {
        padding: 0.1rem 0rem;
        font-size: 12pt;
        color: var(--gray-500);
        border-top: 1px solid var(--gray-200);
        text-align: center;
    }

.airline-actions {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 1.1rem;
}

.airline-page .pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

    .airline-page .pagination button {
        padding: 10px 15px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: #007bb5;
        color: white;
    }

        .airline-page .pagination button:hover {
            background-color: #005f87;
        }

        .airline-page .pagination button.disabled {
            background-color: #ddd;
            cursor: not-allowed;
        }

    .airline-page .pagination .page-number {
        font-size: 16px;
        font-weight: bold;
        padding: 10px;
    }

.airline-page .error-message, .airline-page .loading-message {
    background-color: #edecec;
    color: #111827;
    font-size: 14px;
    margin-top: 10px;
    padding: 0.5rem;
}


.modal-overlay-airline {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Tamna pozadina */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}



.error-modal-airline {
    background-color: #fff;
    padding: 25px 35px;
    border-radius: 12px;
    border: 3px solid #c23c3c;
    box-shadow: 0 0 20px rgba(255, 26, 26, 0.3), 0 0 35px rgba(255, 26, 26, 0.3);
    max-width: 400px;
    width: 90%;
    text-align: center;
}

    .error-modal-airline p {
        color: #111827;
        font-weight: 500;
        margin-bottom: 20px;
        font-style: italic;
    }

.message-modal-airline {
    background-color: #fff;
    padding: 25px 35px;
    border-radius: 12px;
    border: 3px solid #3cc260;
    box-shadow: 0 0 20px rgba(0, 200, 0, 0.3), 0 0 35px rgba(0, 200, 0, 0.3);
    max-width: 400px;
    width: 90%;
    text-align: center;
}


    .message-modal-airline p {
        color: #111827;
        font-weight: 500;
        margin-bottom: 20px;
        font-style: italic;
    }

.modal-close-btn-airline {
    background-color: #cecece;
    color: black;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

    .modal-close-btn-airline:hover {
        background-color: #a1a1a1;
    }

.confirm-modal-airline {
    background-color: #fff;
    padding: 25px 35px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 90%;
    text-align: center;
}

    .confirm-modal-airline p {
        font-weight: bold;
        margin-bottom: 20px;
    }

.modal-buttons-airline {
    display: flex;
    justify-content: center;
    gap: 10px;
}
